<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Follow Up</title>
    <link rel="icon" type="image/x-icon" href="./fabe-icon 1.png" />

    <style type="text/css">
      body {
        margin: 0;
      }

      table {
        border-spacing: 0;
      }

      td {
        padding: 0;
      }

      img {
        border: 0;
      }

      .wrapper {
        width: 100%;
        table-layout: fixed;
      }

      .main {
        background-color: #ffffff;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        font-family: sans-serif;
        color: #171a1b;
      }

      .welcome {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 10px;
      }

      .code {
        font-size: 25px;
        font-weight: normal;
        letter-spacing: 1px;
        color: #1dab45;
      }
    </style>
  </head>

  <body>
    <center class="wrapper">
      <table
        class="main"
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="background-color: #cccccc"
      >
        <!--Horizontal Spacing Start-->
        <tr>
          <td height="15" style="background-color: #ffffff"></td>
        </tr>
        <!--Horizontal Spacing End-->
        <!-- Logo with welcome text  -->
        <tr bgcolor="#ffffff" style="background-color: #ffffff">
          <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" style="background-color: #ffffff">
                  <a href="https://chatsense.in/"
                    ><img
                      src="https://chatsense.in/images/chatsense-registeres-logo.png"
                      alt="logo"
                      width="200"
                  /></a>
                </td>
              </tr>
            </table>
            <!-- <table align="center">
              <tr>
                <td
                  align="center"
                  class="welcome"
                  style="background-color: #ffffff"
                >
                  Welcome
                </td>
              </tr>
            </table> -->
          </td>
        </tr>
        <!--Horizontal Spacing Start-->
        <!-- <tr>
          <td height="35" style="background-color: #ffffff">&nbsp;</td>
        </tr> -->
        <!--Horizontal Spacing End-->
        <!-- Banner image start  -->
        <!-- <tr bgcolor="#ffffff" style="background-color: #ffffff">
          <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" style="background-color: #ffffff">
                  <a href="https://app.chatsense.in/"
                    ><img
                      src="https://dialsense.in/chatsense/Yash/media/template_proposal.png"
                      alt="hero-image"
                      width="250"
                      style="max-width: 100%; display: block"
                  /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr> -->
        <!--Horizontal Spacing Start-->
        <!-- <tr>
          <td height="5" style="background-color: #ffffff"></td>
        </tr> -->
        <!--Horizontal Spacing End-->
        <!-- <tr>
                <td align="center" style="
              max-width: 400px;
              font-size: 18px;
              letter-spacing: 1px;
              color: #1877f2;
              padding: 0 80px;
              background-color: #ffffff;
              line-height: 24px;
              font-weight: 600;
            ">
                    <p style="margin: 0">Opening title goes here</p>
                </td>
            </tr> -->
        <!--Horizontal Spacing Start-->
        <tr>
          <td style="background-color: #ffffff">&nbsp;</td>
        </tr>
        <!--Horizontal Spacing End-->
        <tr>
          <td
            align="left"
            style="
              max-width: 400px;
              font-size: 12px;
              letter-spacing: 1px;
              color: #414141;
              padding: 0 80px;
              background-color: #ffffff;
              line-height: 24px;
            "
          >
            <p style="margin: 0">Dear {{name}},</p>
          </td>
        </tr>
        <tr>
          <td
            align="left"
            style="
              max-width: 400px;
              font-size: 12px;
              letter-spacing: 1px;
              color: #414141;
              padding: 0 80px;
              background-color: #ffffff;
              line-height: 18px;
            "
          >
            <p style="margin: 0">
              I trust this email finds you well. We appreciate your interest in
              the {{detail.select_category}} position at <span><b>Brimming Grace Capital Pvt Ltd</b></span>. We are impressed with
              your qualifications and would like to invite you for an interview.
            </p>
          </td>
        </tr>
        <tr>
            <td
              align="left"
              style="
                max-width: 400px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #414141;
                padding: 0 80px;
                background-color: #ffffff;
                line-height: 18px;
              "
            >
              <p style="margin: 0">
                We propose the following date and time for the interview:
              </p>
            </td>
          </tr>
          <tr>
            <td style="background-color: #ffffff">&nbsp;</td>
          </tr>
          <tr>
            <td
              align="left"
              style="
                max-width: 400px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #414141;
                padding: 0 80px;
                background-color: #ffffff;
                line-height: 18px;
                font-weight: 600;
              "
            >
              <p style="margin: 0">
               Date : {{detail.date|date:'Y-m-d'}}
              </p>
            </td>
          </tr>
          <tr>
            <td
              align="left"
              style="
                max-width: 400px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #414141;
                padding: 0 80px;
                background-color: #ffffff;
                line-height: 18px;
                font-weight: 600;
              "
            >
              <p style="margin: 0">
               Time : 11 AM to 4 PM 
              </p>
            </td>
          </tr>
          <tr>
            <td style="background-color: #ffffff">&nbsp;</td>
          </tr>
          <tr>
            <td
              align="left"
              style="
                max-width: 400px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #414141;
                padding: 0 80px;
                background-color: #ffffff;
                line-height: 18px;
              "
            >
              <p style="margin: 0">
                Please let us know if this timing is convenient for you. If not, kindly provide alternative dates and times within the upcoming week that suit your schedule. We will do our best to accommodate your availability.
              </p>
            </td>
          </tr>
          <tr>
            <td style="background-color: #ffffff">&nbsp;</td>
          </tr>
          <tr>
            <td
              align="left"
              style="
                max-width: 400px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #414141;
                padding: 0 80px;
                background-color: #ffffff;
                line-height: 18px;
              "
            >
              <p style="margin: 0">
                The interview will take place at <span><b>108, Udyog Vihar Phase 1, Udyog Vihar, Sector 20, Gurugram, Haryana 122016</b></span>, and we will also provide the option for a video conference if that is more convenient for you.
              </p>
            </td>
          </tr>
          <tr>
            <td style="background-color: #ffffff">&nbsp;</td>
          </tr>
          <tr>
            <td
              align="left"
              style="
                max-width: 400px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #414141;
                padding: 0 80px;
                background-color: #ffffff;
                line-height: 18px;
              "
            >
              <p style="margin: 0">
                If you have any questions or concerns, feel free to reach out to us at <span><b>+91 8130708951</b></span>.
              </p>
            </td>
          </tr>
          <tr>
            <td style="background-color: #ffffff">&nbsp;</td>
          </tr>
          <tr>
            <td
              align="left"
              style="
                max-width: 400px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #414141;
                padding: 0 80px;
                background-color: #ffffff;
                line-height: 18px;
              "
            >
              <p style="margin: 0">
                We appreciate your time and look forward to the opportunity to speak with you.
            </td>
          </tr>
          <tr>
            <td style="background-color: #ffffff">&nbsp;</td>
          </tr>
          <tr>
            <td
              align="left"
              style="
                max-width: 400px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #414141;
                padding: 0 80px;
                background-color: #ffffff;
                line-height: 24px;
              "
            >
              <p style="margin: 0">Best regards,</p>
            </td>
          </tr>
          <tr>
            <td
              align="left"
              style="
                max-width: 400px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #414141;
                padding: 0 80px;
                background-color: #ffffff;
                line-height: 24px;
              "
            >
              <p style="margin: 0">Brimming Grace Capital Pvt. Ltd.
                
                </p>
            </td>
          </tr>
          <tr>
            <td
              align="left"
              style="
                max-width: 400px;
                font-size: 12px;
                letter-spacing: 1px;
                color: #414141;
                padding: 0 80px;
                background-color: #ffffff;
                line-height: 12px;
              "
            >
              <p style="margin: 0">+91 8130708951
                
                </p>
            </td>
          </tr>
        <!--Horizontal Spacing Start-->
        <tr>
          <td height="5" style="background-color: #ffffff"></td>
        </tr>
        <!--Horizontal Spacing End-->
        <!-- <tr>
          <td
            align="left"
            style="
              max-width: 400px;
              font-size: 12px;
              letter-spacing: 1px;
              color: #414141;
              padding: 0 80px;
              background-color: #ffffff;
              line-height: 24px;
            "
          >
            <p style="margin: 0">Get proposal from attachment.</p>
          </td>
        </tr> -->
        <!--Horizontal Spacing Start-->
        
        <!--Horizontal Spacing End-->
        <!-- Line -->
        <!-- <tr>
          <td>
            <table
              width="100%"
              style="background-color: #ffffff"
              border="0"
              cellpadding="0"
              cellspacing="0"
            >
              <tr>
                <td
                  align="center"
                  valign="top"
                  style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    margin: 0;
                    padding: 0;
                    padding-left: 6.25%;
                    padding-right: 6.25%;
                    width: 87.5%;
                    padding-top: 10px;
                  "
                  class="line"
                >
                  <hr
                    color="#E0E0E0"
                    align="center"
                    width="100%"
                    size="2"
                    noshade
                    style="margin: 0; padding: 0"
                  />
                </td>
              </tr>
            </table>
          </td>
        </tr> -->
        <!-- <tr bgcolor="#ffffff" style="background-color: #ffffff">
          <td>
            <table
              align="center"
              bgcolor="#ffffff"
              style="background-color: #ffffff"
              border="0"
              cellpadding="0"
              cellspacing="0"
            >
              <tr>
                <td
                  align="center"
                  valign="top"
                  style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 35px;
                    padding-right: 35px;
                  "
                >
                  <a href="https://chatsense.in/edtech.html"
                    ><img
                      border="0"
                      vspace="0"
                      hspace="0"
                      style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: block;
                        color: #000000;
                      "
                      src="https://chatsense.in/images/education.png"
                      alt="H"
                      title="Highly compatible"
                      width="60"
                  /></a>
                  <p
                    style="
                      font-size: 13px;
                      font-weight: bold;
                      letter-spacing: 1px;
                    "
                  >
                    <a
                      href="https://chatsense.in/edtech.html"
                      style="text-decoration: none; color: #171a1b"
                      >EdTech</a
                    >
                  </p>
                </td>
                <td
                  align="center"
                  valign="top"
                  style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 35px;
                    padding-right: 35px;
                  "
                >
                  <a href="https://chatsense.in/ecommerce.html"
                    ><img
                      border="0"
                      vspace="0"
                      hspace="0"
                      style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: block;
                        color: #000000;
                      "
                      src="https://chatsense.in/images/ecommerce.png"
                      alt="H"
                      title="Highly compatible"
                      width="60"
                  /></a>
                  <p
                    style="
                      font-size: 13px;
                      font-weight: bold;
                      letter-spacing: 1px;
                    "
                  >
                    <a
                      href="https://chatsense.in/edtech.html"
                      style="text-decoration: none; color: #171a1b"
                      >E-Commerce</a
                    >
                  </p>
                </td>
                <td
                  align="center"
                  valign="top"
                  style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 35px;
                    padding-right: 35px;
                  "
                >
                  <a href="https://chatsense.in/adtech.html">
                    <img
                      border="0"
                      vspace="0"
                      hspace="0"
                      style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: block;
                        color: #000000;
                      "
                      src="https://chatsense.in/images/megaphone.png"
                      alt="H"
                      title="Highly compatible"
                      width="60"
                  /></a>
                  <p
                    style="
                      font-size: 13px;
                      font-weight: bold;
                      letter-spacing: 1px;
                    "
                  >
                    <a
                      href="https://chatsense.in/edtech.html"
                      style="text-decoration: none; color: #171a1b"
                      >AdTech</a
                    >
                  </p>
                </td>
                <td
                  align="center"
                  valign="top"
                  style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 35px;
                    padding-right: 35px;
                  "
                >
                  <a href="https://chatsense.in/healthtech.html">
                    <img
                      border="0"
                      vspace="0"
                      hspace="0"
                      style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: block;
                        color: #000000;
                      "
                      src="https://chatsense.in/images/healthcare.png"
                      alt="H"
                      title="Highly compatible"
                      width="60"
                    />
                  </a>
                  <p
                    style="
                      font-size: 13px;
                      font-weight: bold;
                      letter-spacing: 1px;
                    "
                  >
                    <a
                      href="https://chatsense.in/edtech.html"
                      style="text-decoration: none; color: #171a1b"
                      >HealthTech</a
                    >
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr> -->
        <!-- <tr bgcolor="#ffffff" style="background-color: #ffffff">
          <td>
            <table
              align="center"
              bgcolor="#ffffff"
              style="background-color: #ffffff"
              border="0"
              cellpadding="0"
              cellspacing="0"
            >
              <tr>
                <td
                  align="center"
                  valign="top"
                  style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 35px;
                    padding-right: 35px;
                  "
                >
                  <a href="https://chatsense.in/edtech.html"
                    ><img
                      border="0"
                      vspace="0"
                      hspace="0"
                      style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: block;
                        color: #000000;
                      "
                      src="https://chatsense.in/images/education.png"
                      alt="H"
                      title="Highly compatible"
                      width="60"
                  /></a>
                  <p
                    style="
                      font-size: 13px;
                      font-weight: bold;
                      letter-spacing: 1px;
                    "
                  >
                    <a
                      href="https://chatsense.in/edtech.html"
                      style="text-decoration: none; color: #171a1b"
                      >EdTech</a
                    >
                  </p>
                </td>
                <td
                  align="center"
                  valign="top"
                  style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 35px;
                    padding-right: 35px;
                  "
                >
                  <a href="https://chatsense.in/ecommerce.html"
                    ><img
                      border="0"
                      vspace="0"
                      hspace="0"
                      style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: block;
                        color: #000000;
                      "
                      src="https://chatsense.in/images/ecommerce.png"
                      alt="H"
                      title="Highly compatible"
                      width="60"
                  /></a>
                  <p
                    style="
                      font-size: 13px;
                      font-weight: bold;
                      letter-spacing: 1px;
                    "
                  >
                    <a
                      href="https://chatsense.in/edtech.html"
                      style="text-decoration: none; color: #171a1b"
                      >E-Commerce</a
                    >
                  </p>
                </td>
                <td
                  align="center"
                  valign="top"
                  style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 35px;
                    padding-right: 35px;
                  "
                >
                  <a href="https://chatsense.in/adtech.html">
                    <img
                      border="0"
                      vspace="0"
                      hspace="0"
                      style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: block;
                        color: #000000;
                      "
                      src="https://chatsense.in/images/megaphone.png"
                      alt="H"
                      title="Highly compatible"
                      width="60"
                  /></a>
                  <p
                    style="
                      font-size: 13px;
                      font-weight: bold;
                      letter-spacing: 1px;
                    "
                  >
                    <a
                      href="https://chatsense.in/edtech.html"
                      style="text-decoration: none; color: #171a1b"
                      >AdTech</a
                    >
                  </p>
                </td>
                <td
                  align="center"
                  valign="top"
                  style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 35px;
                    padding-right: 35px;
                  "
                >
                  <a href="https://chatsense.in/healthtech.html">
                    <img
                      border="0"
                      vspace="0"
                      hspace="0"
                      style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: block;
                        color: #000000;
                      "
                      src="https://chatsense.in/images/healthcare.png"
                      alt="H"
                      title="Highly compatible"
                      width="60"
                    />
                  </a>
                  <p
                    style="
                      font-size: 13px;
                      font-weight: bold;
                      letter-spacing: 1px;
                    "
                  >
                    <a
                      href="https://chatsense.in/edtech.html"
                      style="text-decoration: none; color: #171a1b"
                      >HealthTech</a
                    >
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr> -->
        <!-- Line -->
        <tr>
            <td style="background-color: #ffffff">&nbsp;</td>
          </tr>
        <tr>
          <td>
            <table
              width="100%"
              style="background-color: #ffffff"
              border="0"
              cellpadding="0"
              cellspacing="0"
            >
              <tr>
                <td
                  align="center"
                  valign="top"
                  style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    margin: 0;
                    padding: 0;
                    padding-left: 6.25%;
                    padding-right: 6.25%;
                    width: 87.5%;
                    padding-bottom: 10px;
                  "
                  class="line"
                >
                  <hr
                    color="#E0E0E0"
                    align="center"
                    width="100%"
                    size="2"
                    noshade
                    style="margin: 0; padding: 0"
                  />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- Social icons start -->
        <tr bgcolor="#ffffff" style="background-color: #ffffff">
          <td style="background-color: #ffffff">
            <table
              width="256"
              border="0"
              cellpadding="0"
              cellspacing="0"
              align="center"
              style="border-collapse: collapse; border-spacing: 0; padding: 0"
            >
              <tr>
                <!-- ICON 1 -->
                <td
                  align="right"
                  valign="middle"
                  style="
                    margin: 0;
                    padding: 0;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-collapse: collapse;
                    border-spacing: 0;
                  "
                >
                  <a
                    target="_blank"
                    href="https://www.facebook.com/chatsense.in"
                    style="text-decoration: none"
                    ><img
                      border="0"
                      vspace="0"
                      hspace="0"
                      style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: inline-block;
                        color: #000000;
                      "
                      alt="F"
                      title="Facebook"
                      width="20"
                      height="20"
                      src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/facebook.png"
                  /></a>
                </td>
                <!-- ICON 2 -->
                <td
                  align="left"
                  valign="middle"
                  style="
                    margin: 0;
                    padding: 0;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-collapse: collapse;
                    border-spacing: 0;
                  "
                >
                  <a
                    target="_blank"
                    href="https://www.instagram.com/chatsense.in/"
                    style="text-decoration: none"
                    ><img
                      border="0"
                      vspace="0"
                      hspace="0"
                      style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: inline-block;
                        color: #000000;
                      "
                      alt="I"
                      title="Instagram"
                      width="20"
                      height="20"
                      src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/instagram.png"
                  /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- Copyright and unsubscribe text -->
        <tr bgcolor="#ffffff" style="background-color: #ffffff">
          <td style="background-color: #ffffff">
            <table align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" style="color: #797c7f; font-size: 11px">
                  <p>&#169; Copyright 2024</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
