<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in credentials</title>
    <link rel="icon" type="image/x-icon" href="./fabe-icon 1.png">

    <style type="text/css">
        body {
            margin: 0;
            background-color: #cccccc;
        }

        table {
            border-spacing: 0;
        }

        td {
            padding: 0;
        }

        img {
            border: 0;
        }

        .wrapper {
            width: 100%;
            table-layout: fixed;
            background-color: #cccccc;
        }

        .main {
            background-color: #ffffff;
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
            border-spacing: 0;
            font-family: sans-serif;
            color: #171a1b;
        }

        .welcome {
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 1px;
            padding-top: 10px;
        }

        .code {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    </style>
</head>

<body>
    <center class="wrapper">
        <table class="main" width="100%" border="0" cellpadding="0" cellspacing="0">
            <!--Horizontal Spacing Start-->
            <tr>
                <td height="15" style="background-color: #ffffff;"></td>
            </tr>
            <!--Horizontal Spacing End-->
            <!-- Logo with welcome text  -->
            <tr bgcolor="#ffffff" style="background-color: #ffffff;">
                <td >
                    <table align="center" border="0" cellpadding="0" cellspacing="0"  >
                        <tr>
                            <td align="center" style="background-color: #ffffff;" >
                                <a href="https://chatsense.in/"><img src="https://chatsense.in/images/chatsense-logo.png" alt="logo"
                                        width="200"></a>
                            </td>
                        </tr>
                    </table>
                    <table align="center">
                        <tr>
                            <td align="center" class="welcome" style="background-color: #ffffff;">
                                Welcome
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--Horizontal Spacing Start-->
            <tr>
                <td height="35" style="background-color: #ffffff;">&nbsp;</td>
            </tr>
            <!--Horizontal Spacing End-->
            <!-- Banner image start  -->
            <tr bgcolor="#ffffff" style="background-color: #ffffff;">
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" style="background-color: #ffffff;">
                                <a href="https://app.chatsense.in/"><img src="https://chatsense.in.net/en/Credential.png"
                                        alt="hero-image" width="250" style="max-width: 100%; display: block;"></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--Horizontal Spacing Start-->
            <tr>
                <td style="background-color: #ffffff;">&nbsp;</td>
            </tr>
            <!--Horizontal Spacing End-->
                        <!-- Code description start -->

                        <tr  bgcolor="#ffffff" style="background-color: #ffffff;">
                            <td>
                                <table align="center">
                                    <tr>
                                        <td align="left" 
                                        
                                            style= "max-width: 400px; font-size: 14px; letter-spacing: 1px; color: #797c7f; padding: 0 80px;background-color: #ffffff; line-height: 24px;" >
                                            <p style="margin: 0;">Please use the following credentials for secure login.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                   <!--Horizontal Spacing Start-->
                   <tr>
                    <td height="30" style="background-color: #ffffff;"></td>
                </tr>
                <!--Horizontal Spacing End-->
            <!-- Code text start -->
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" class="code">
                                Email Id: example@example.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--Horizontal Spacing Start-->
            <tr>
                <td height="15">&nbsp;</td>
            </tr>
            <!--Horizontal Spacing End-->
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" class="code">
                                Password: password here
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--Horizontal Spacing Start-->
            <tr>
                <td height="35">&nbsp;</td>
            </tr>
            <!--Horizontal Spacing End-->
            <!-- Login Button start -->
            <tr>
                <td>
                    <table width="250" align="center"  style="background-color: #FFFFFF; max-width: 250px; " border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" valign="middle"  style="
                                        
                                          padding: 12px 24px;
                                          margin: 0;
                                          border-collapse: collapse;
                                          border-spacing: 0;
                                          border-radius: 4px;
                                          -webkit-border-radius: 4px;
                                          -moz-border-radius: 4px;
                                          -khtml-border-radius: 4px;
                                        " bgcolor="#1877f2">
                              <a target="_blank" style="
                                            color: #ffffff;
                                            font-family: sans-serif;
                                            font-size: 17px;
                                            font-weight: 400;
                                            text-decoration: none;
                                          " href="https://app.chatsense.in/">
                                Login to your account
                              </a>
                            </td>
                          </tr>
                    </table>
                </td>
            </tr>
             <!-- Line -->
            <!-- Line -->
            <tr>
                <td>
                    <table width="100%"  style="background-color: #FFFFFF; " border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" valign="top" style="
                                    border-collapse: collapse;
                                    border-spacing: 0;
                                    margin: 0;
                                    padding: 0;
                                    padding-left: 6.25%;
                                    padding-right: 6.25%;
                                    width: 87.5%;
                                    padding-top: 35px;
                                  
                                  " class="line">
                                <hr color="#E0E0E0" align="center" width="100%" size="2" noshade
                                    style="margin: 0; padding: 0" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Images for ADD -->
            <tr  bgcolor="#ffffff" style="background-color: #ffffff;">
                <td>
                    <table align="center" bgcolor="#ffffff" style="background-color: #FFFFFF; "
                        border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" valign="top" style="
                      border-collapse: collapse;
                      border-spacing: 0;
                      padding-top: 30px;
                      padding-bottom: 20px;
                      padding-left: 35px;
                      padding-right: 35px;">
                                <a href="https://chatsense.in/edtech.html"><img border="0" vspace="0" hspace="0" style="
                                    padding: 0;
                                    margin: 0;
                                    outline: none;
                                    text-decoration: none;
                                    -ms-interpolation-mode: bicubic;
                                    border: none;
                                    display: block;
                                    color: #000000;
                                  " src="https://chatsense.in/images/education.png" alt="H" title="Highly compatible"
                                        width="60" /></a>
                                <p style="font-size: 13px; font-weight: bold;  letter-spacing: 1px;"><a href="https://chatsense.in/edtech.html" style="text-decoration: none; color: #171a1b;">EdTech</a></p>        
                            </td>
                            <td align="center" valign="top" style="
                      border-collapse: collapse;
                      border-spacing: 0;
                      padding-top: 30px;
                      padding-bottom: 20px;
                      padding-left: 35px;
                      padding-right: 35px
                    ">
                                <a href="https://chatsense.in/ecommerce.html"><img border="0" vspace="0" hspace="0" style="
                                    padding: 0;
                                    margin: 0;
                                    outline: none;
                                    text-decoration: none;
                                    -ms-interpolation-mode: bicubic;
                                    border: none;
                                    display: block;
                                    color: #000000;
                                  " src="https://chatsense.in/images/ecommerce.png" alt="H" title="Highly compatible"
                                        width="60" /></a>
                                        <p style="font-size: 13px; font-weight: bold;  letter-spacing: 1px;"><a href="https://chatsense.in/edtech.html" style="text-decoration: none; color: #171a1b;">E-Commerce</a></p>  
                            </td>
                            <td align="center" valign="top" style="
                      border-collapse: collapse;
                      border-spacing: 0;
                      padding-top: 30px;
                      padding-bottom: 20px;
                      padding-left: 35px;
                      padding-right: 35px
                    ">
                                <a href="https://chatsense.in/adtech.html"> <img border="0" vspace="0" hspace="0" style="
                                padding: 0;
                                margin: 0;
                                outline: none;
                                text-decoration: none;
                                -ms-interpolation-mode: bicubic;
                                border: none;
                                display: block;
                                color: #000000;
                              " src="https://chatsense.in/images/megaphone.png" alt="H" title="Highly compatible"
                                        width="60" /></a>
                                        <p style="font-size: 13px; font-weight: bold;  letter-spacing: 1px;"><a href="https://chatsense.in/edtech.html" style="text-decoration: none; color: #171a1b;">AdTech</a></p>           
                            </td>
                            <td align="center" valign="top" style="
                      border-collapse: collapse;
                      border-spacing: 0;
                      padding-top: 30px;
                      padding-bottom: 20px;
                      padding-left: 35px;
                      padding-right: 35px
                    ">
                                <a href="https://chatsense.in/healthtech.html">
                                    <img border="0" vspace="0" hspace="0" style="
                        padding: 0;
                        margin: 0;
                        outline: none;
                        text-decoration: none;
                        -ms-interpolation-mode: bicubic;
                        border: none;
                        display: block;
                        color: #000000;
                      " src="https://chatsense.in/images/healthcare.png" alt="H" title="Highly compatible"
                                        width="60" />
                                </a>
                                <p style="font-size: 13px; font-weight: bold;  letter-spacing: 1px;"><a href="https://chatsense.in/edtech.html" style="text-decoration: none; color: #171a1b;">HealthTech</a></p>           
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
               <!-- Line -->
               <tr>
                <td>
                    <table width="100%"  style="background-color: #FFFFFF; " border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" valign="top" style="
                                    border-collapse: collapse;
                                    border-spacing: 0;
                                    margin: 0;
                                    padding: 0;
                                    padding-left: 6.25%;
                                    padding-right: 6.25%;
                                    width: 87.5%;
                                    padding-bottom: 20px;
                                  
                                  " class="line">
                                <hr color="#E0E0E0" align="center" width="100%" size="2" noshade
                                    style="margin: 0; padding: 0" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Social icons start -->
            <tr  bgcolor="#ffffff" style="background-color: #ffffff;">
                <td style="background-color: #ffffff;">
                    <table width="256" border="0" cellpadding="0" cellspacing="0" align="center" style="
                    border-collapse: collapse;
                    border-spacing: 0;
                    padding: 0;">
                        <tr>
                            <!-- ICON 1 -->
                            <td align="right" valign="middle" style="
                                    margin: 0;
                                    padding: 0;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    border-collapse: collapse;
                                    border-spacing: 0;
                                ">
                               
                            <a  target="_blank" href="https://www.facebook.com/chatsense.in" style="text-decoration: none"><img border="0" vspace="0" hspace="0" style="
                                        padding: 0;
                                        margin: 0;
                                        outline: none;
                                        text-decoration: none;
                                        -ms-interpolation-mode: bicubic;
                                        border: none;
                                        display: inline-block;
                                        color: #000000;
                                    " alt="F" title="Facebook" width="44" height="44"
                                src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/facebook.png" /></a>
                            </td>
                            <!-- ICON 2 -->
                            <td align="left" valign="middle" style="
                                    margin: 0;
                                    padding: 0;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    border-collapse: collapse;
                                    border-spacing: 0;
                                ">
                            <a target="_blank" href="https://www.instagram.com/chatsense.in/" style="text-decoration: none"><img border="0" vspace="0" hspace="0" style="
                                        padding: 0;
                                        margin: 0;
                                        outline: none;
                                        text-decoration: none;
                                        -ms-interpolation-mode: bicubic;
                                        border: none;
                                        display: inline-block;
                                        color: #000000;
                                    " alt="I" title="Instagram" width="44" height="44"
                                src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/instagram.png" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Copyright and unsubscribe text -->
            <tr  bgcolor="#ffffff" style="background-color: #ffffff;">
                <td style="background-color: #ffffff;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" style="padding-top:25px; color: #797c7f; font-size: 14px;">
                                <p>&#169; Copyright 2023</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </center>
</body>

</html>